<style>

body  {
 
}

@font-face {
    font-family: customFont;
    src: url("Lii_____.ttf");
}

.header {
padding: 10px;
font-weight:normal;
font-style:normal;
font-family: customfont;
}


.header h1 {
  color: #228B22;
  font-family: 'customFont';
  font-size: 100px;
  text-align: center;
}
 
 .info {
	padding: 1px;
 }

.info h1 {
	color: red;
	font-family: courier;
	font-size: 100%;
	text-align: center;
}

 .info p {
	color: red;
	font-family: courier;
	font-size: 100%;
	text-align: center;
}

.images{
	padding: 50px;
	text-align: center;
	
}
.images2{
	padding: 50px;
	text-align: center;
}
.images3{
	padding: 50px;
	text-align: center;
}

.facebook {
	text-align: center;
	
}

@media screen and (max-width:
400PX) {
  .images {
    float: none;
    width: 100%;
  }






.footer {
  position: fixed;
  padding: 1px;
  text-align: center;
  background: #5491e8;
  bottom: 0%;
  left: 0%;
  font-size: 10px;
}


</style>