
body  {
 padding: 1px;
 background-image: url("/resources/br4.jpg");
background-blend-mode:darken;
}

/* custom font */
/* place .ttf in resources on github and change the .ttf in quotes to switch fonts */

@font-face {
    font-family: customFont;
    src: url("HandDrawnLawn-Exae.ttf");
}

/* header styles */
/* change text color with the "color:" property use hex colors for best results */
/* change font size with the "font-size:" property */

.image-wrapper {
	padding: 10px;
	width: 100% ;
	text-align: center;
}



.header {
	padding: 10px;
	font-style:normal;
	font-family: customfont;
	animation: fadeIn 5s;
	-webkit-animation: fadeIn 5s;
}

/* header fade controls */ /*don't touch */
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }

.header h1 {
  color: #228B22;
  font-family: 'customFont';
  font-size: 110px;
  text-align: center;
  font-weight: normal;
}

/* body text styles */
/* change text color with the "color:" property use hex colors for best results */
/* change font size with the "font-size:" property */

.info {
	padding: 1px;
 }

.info h1 {
	color: red;
	font-family: courier;
	font-size: 30px;
	text-align: center;
}

 .info p {
	color: red;
	font-family: courier;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
}

/* images styles - centering */

.images{
	padding: 50px;
	text-align: center;
}

/* this is text that displays above images on homepage */
/* change text color with the "color:" property use hex colors for best results */

.images p {
	color: red;
	text-align: center;
	font-size: 10px;
}

/* facebook iframe style */
.facebookWrapper {
	text-align: center;
}






/* footer */
.footer {
  position: fixed;
  padding: 1px;
  text-align: center;
  background: #5491e8;
  bottom: 0%;
  left: 0%;
  font-size: 10px;
}

